[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
pydantic = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
python-jose = "*"
libgravatar = "*"
redis = "*"
fastapi-limiter = "*"
cloudinary = "*"
pydantic-settings = "*"
uvicorn = "*"
python-dotenv = "*"
typing-extensions = "*"
asyncio = "*"
sphinx = "*"
pytest-cov = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.12"
